<a href="https://colab.research.google.com/github/the-confused-genius/school-rating/blob/main/school_rating.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problem Statement 

---


You are a public school administrator. Some schools in your state of Tennessee are performing below average academically. Your superintendent seems to be under pressure from frustrated parents and the voters have appoached you with the task of finding out why these schools are under-performing. Now, to improve school performance, you need to learn more about these schools and their students, just as a business needs to understand its own strengths and weaknesses and its customers. The data includes various demographics, the school faculty, and income variables 
This can be achieved using exploratory data analysis techniques which further includes: 
1. Reading the data in pandas data frame,
2. Describing the data to find more details 
3. Finding the correlation between 'reduced_lunch' and 'school_rating'
4. Creating a Model that can predict the rating of the school depending on the given features of the school

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import re 
from sklearn.linear_model import LinearRegression 
from sklearn.model_selection import train_test_split 
from sklearn.metrics import r2_score

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/the-confused-genius/school-rating/main/middle_tn_schools.csv')
df.describe()

       school_rating         size  ...  percent_asian  percent_hispanic
count     347.000000   347.000000  ...     347.000000        347.000000
mean        2.968300   699.472622  ...       2.642651         11.164553
std         1.690377   400.598636  ...       3.109629         12.030608
min         0.000000    53.000000  ...       0.000000          0.000000
25%         2.000000   420.500000  ...       0.750000          3.800000
50%         3.000000   595.000000  ...       1.600000          6.400000
75%         4.000000   851.000000  ...       3.100000         13.800000
max         5.000000  2314.000000  ...      21.100000         65.200000

[8 rows x 13 columns]

Finding the correlation between reduced lunch and school rating

In [ ]:
df[['reduced_lunch','school_rating']].groupby(['school_rating']).describe().unstack()

                      school_rating
reduced_lunch  count  0.0              43.000000
                      1.0              40.000000
                      2.0              44.000000
                      3.0              56.000000
                      4.0              86.000000
                      5.0              78.000000
               mean   0.0              83.581395
                      1.0              74.950000
                      2.0              64.272727
                      3.0              50.285714
                      4.0              41.000000
                      5.0              21.602564
               std    0.0               8.813498
                      1.0              11.644191
                      2.0              11.956051
                      3.0              13.550866
                      4.0              16.681092
                      5.0              17.651268
               min    0.0              53.000000
                      1.0              53.000000
                      2.0              37.000000
                      3.0              24.000000
                      4.0               4.000000
                      5.0               2.000000
               25%    0.0              79.500000
                      1.0              65.000000
                      2.0              54.750000
                      3.0              41.000000
                      4.0              30.000000
                      5.0               8.000000
               50%    0.0              86.000000
                      1.0              74.500000
                      2.0              62.500000
                      3.0              48.500000
                      4.0              41.500000
                      5.0              19.000000
               75%    0.0              90.000000
                      1.0              84.250000
                      2.0              74.000000
                      3.0              63.000000
                      4.0              50.000000
                      5.0              29.750000
               max    0.0              98.000000
                      1.0              98.000000
                      2.0              88.000000
                      3.0              78.000000
                      4.0              87.000000
                      5.0              87.000000
dtype: float64

In [ ]:
df[['reduced_lunch','school_rating']].corr()

               reduced_lunch  school_rating
reduced_lunch       1.000000      -0.815757
school_rating      -0.815757       1.000000

Data preprossesing, converting the string values to int, while keeping their meaning

In [ ]:
print(df.school_type.value_counts())  #checking for the different types of values

Public            292
Public Magnet      46
Public Charter      8
Public Virtual      1
Name: school_type, dtype: int64

In [ ]:
df.school_type = df.school_type.replace(to_replace = 'Public',value = 0)
df.school_type = df.school_type.replace(to_replace = 'Public Magnet',value = 1)
df.school_type = df.school_type.replace(to_replace = 'Public Charter',value =2)
df.school_type = df.school_type.replace(to_replace = 'Public Virtual',value =3)

In [ ]:
df.head()

                          name  school_rating  ...  percent_asian  percent_hispanic
0  Allendale Elementary School            5.0  ...            1.6               5.6
1          Anderson Elementary            2.0  ...            1.0               4.9
2             Avoca Elementary            4.0  ...            1.2               4.4
3                Bailey Middle            0.0  ...            2.3               4.3
4          Barfield Elementary            4.0  ...            7.1               6.0

[5 rows x 15 columns]

In [ ]:
df.isnull().sum() #checking for null values

name                   0
school_rating          0
size                   0
reduced_lunch          0
state_percentile_16    0
state_percentile_15    6
stu_teach_ratio        0
school_type            0
avg_score_15           6
avg_score_16           0
full_time_teachers     0
percent_black          0
percent_white          0
percent_asian          0
percent_hispanic       0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 347 entries, 0 to 346
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 347 non-null    object
 1   school_rating        347 non-null    float64
 2   size                 347 non-null    float64
 3   reduced_lunch        347 non-null    float64
 4   state_percentile_16  347 non-null    float64
 5   state_percentile_15  341 non-null    float64
 6   stu_teach_ratio      347 non-null    float64
 7   school_type          347 non-null    int64
 8   avg_score_15         341 non-null    float64
 9   avg_score_16         347 non-null    float64
 10  full_time_teachers   347 non-null    float64
 11  percent_black        347 non-null    float64
 12  percent_white        347 non-null    float64
 13  percent_asian        347 non-null    float64
 14  percent_hispanic     347 non-null    float64
dtypes: float64(13), int64(1), object(1)
memory usage: 40.8+ KB

In [ ]:
x = df[['size',	'reduced_lunch',	'state_percentile_16','stu_teach_ratio',	'school_type',	'avg_score_16',	'full_time_teachers',	'percent_black',	'percent_white',	'percent_asian',	'percent_hispanic']]
y = df['school_rating']

In [ ]:
model = LinearRegression()

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y)

In [ ]:
model.fit(x_train,y_train)

LinearRegression()

In [ ]:
y_pred = model.predict(x_test)

In [ ]:
print("The accuracy of the model is " + str(r2_score(y_test,y_pred)*100) + " %")

The accuracy of the model is 97.46266948911573 %